.tdee-inputs {
    padding: 30px 20px;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    margin: auto;
    background: rgba(142, 227, 175, 1);
    box-shadow: -10px 10px 3px -4px rgba(102, 207, 155);
}

fieldset {
    border: 0;
}

.hidden {
    display: none;
}

.revealed {
    display: block;
}
