
.tdee-input-gender-fieldset {
    display: block;
    max-width: 50%;
  }

  .input-group {
      display: flex;      
      flex-flow: row wrap;
      justify-content: space-around;
      align-items: center;
      margin: auto;
  }

  .input-subGroup {
      display: flex;
      flex-flow: row wrap;
      align-items: center;
      justify-content: center;
  }
